
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;

}

html{
 scroll-behavior: smooth;
}
body{
  font-family: "Open Sans",sans-serif;
}
ul,
li {
	list-style: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
.main-body{
  position: relative;
}
.w-100 {
  width: 100%!important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
#counter-part h2{
  font-size: 1.8rem;
  color: #830101;
  font-weight: bold;
}
#counter-part h3{
  font-size: 1.5rem;
  color: #830101;
  font-weight: bold;
}

.counter-top-content .c-boxes {
  position: absolute;
  top: 27%;
}

.c-boxes{
  display: flex!important;
  justify-content: space-around!important;
}

.box-1 {
  left: 21%;
}

.box-2 {
  left: 48.5%;
}

.box-3 {
  right: 22%;
}

.counter-bottom-content .c-boxes {
  position: absolute;
  bottom: 46%;
}

.box-4 {
  left: 35.5%;
}
.box-5 {
  left: 10%;
}
.box-6 {
  right: 35%;
}
.box-7 {
  right: 9%;
}